
body {
		background-color:#fff;
		color:#666;
	}
	div {
		width: 300px;
		border: 25px solid black;
		padding: 25px;
		margin: 25px;
		font-weight:bold;
		font-size: 24px;
	}
	ul {
		list-style-type:none;
		margin: 0;
		padding: 0;
		width:25%;
		height: 100%;
		position:fixed;
		overflow: auto;
		background-color: #666;
	}
	li {
		float:left;
	}
	li a {
		display:block;
		color:aqua;
		text-align:center;
		padding: 8px;
		text-decoration:none;
		background-color:#666;
	}
	a: hover: not (.active) {
		background-color: #111;
	}
	.active {
		background-color: #4CAF50;
	}
#logo {
	float:left;
	width:10px;
	height:10px;
	background:#fff;
}
div.gallery {
	border: 1px solid #ccc;
}

div.gallery:hover {
	border:1px solid #777;
}

div.gallery img {
	width:100%;
	height:auto;
}
div.desc {
	padding:15px;
	text-align:center;
}
* {
	box-sizing:border-box;
}
.responsive {
	padding: 0 6px;
	float:left;
	width:24.99999%;
}
@media only screen and (max-width:700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}
@media only screen and (max-width:500px) {
	.responsive {
		width:100%;
	}
}
.clearfix:after {
	content:"";
	display:table;
	clear: both;
}
